In [3]:
import pandas as pd

In [10]:
pd.__version__

'1.5.2'

In [11]:
df = pd.read_csv('yellow_tripdata_2019-01.csv', nrows=100)

In [12]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [8]:
from sqlalchemy import create_engine

In [18]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [15]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [19]:
df_iter = pd.read_csv('yellow_tripdata_2019-01.csv',iterator=True, chunksize=10000)

In [21]:
df=next(df_iter)

In [22]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [24]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [26]:
df.to_sql(name='yellow_taxi_data', con=engine,if_exists='replace')

1000

In [27]:
%time df.to_sql(name='yellow_taxi_data',con=engine, if_exists='append')

CPU times: user 356 ms, sys: 24.9 ms, total: 381 ms
Wall time: 905 ms

1000

In [28]:
from time import time

In [30]:
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine,if_exists='append')
    t_end = time()
    print("inserted another chunk..., took %.3f second" % (t_end - t_start))

inserted another chunk..., took 1.119 second
inserted another chunk..., took 0.777 second
inserted another chunk..., took 0.710 second
inserted another chunk..., took 0.695 second
inserted another chunk..., took 0.719 second
inserted another chunk..., took 0.902 second
inserted another chunk..., took 0.710 second
inserted another chunk..., took 0.726 second
inserted another chunk..., took 0.698 second
inserted another chunk..., took 0.709 second
inserted another chunk..., took 0.698 second
inserted another chunk..., took 0.717 second
inserted another chunk..., took 0.781 second
inserted another chunk..., took 1.074 second
inserted another chunk..., took 0.834 second
inserted another chunk..., took 0.796 second
inserted another chunk..., took 0.749 second
inserted another chunk..., took 0.729 second
inserted another chunk..., took 0.845 second
inserted another chunk..., took 0.735 second
inserted another chunk..., took 0.737 second
inserted another chunk..., took 0.938 second
inserted another chunk..., took 0.716 second
inserted another chunk..., took 0.727 second
inserted another chunk..., took 0.775 second
inserted another chunk..., took 0.725 second
inserted another chunk..., took 0.721 second
inserted another chunk..., took 0.763 second
inserted another chunk..., took 0.728 second
inserted another chunk..., took 0.924 second
inserted another chunk..., took 0.724 second
inserted another chunk..., took 0.741 second
inserted another chunk..., took 0.721 second
inserted another chunk..., took 0.730 second
inserted another chunk..., took 0.723 second
inserted another chunk..., took 0.711 second
inserted another chunk..., took 0.711 second
inserted another chunk..., took 0.716 second
inserted another chunk..., took 0.932 second
inserted another chunk..., took 0.720 second
inserted another chunk..., took 0.812 second
inserted another chunk..., took 0.728 second
inserted another chunk..., took 0.726 second
inserted another chunk..., took 0.722 second
inserted another chunk..., took 0.716 second
inserted another chunk..., took 0.730 second
inserted another chunk..., took 0.743 second
inserted another chunk..., took 0.935 second
inserted another chunk..., took 0.718 second
inserted another chunk..., took 0.725 second
inserted another chunk..., took 0.729 second
inserted another chunk..., took 0.718 second
inserted another chunk..., took 0.728 second
inserted another chunk..., took 0.750 second
inserted another chunk..., took 0.729 second
inserted another chunk..., took 0.748 second
inserted another chunk..., took 0.911 second
inserted another chunk..., took 0.728 second
inserted another chunk..., took 0.714 second
inserted another chunk..., took 0.764 second
inserted another chunk..., took 0.738 second
inserted another chunk..., took 0.690 second
inserted another chunk..., took 0.717 second
inserted another chunk..., took 0.719 second
inserted another chunk..., took 0.705 second
inserted another chunk..., took 0.721 second
inserted another chunk..., took 0.903 second
inserted another chunk..., took 0.768 second
inserted another chunk..., took 0.739 second
inserted another chunk..., took 0.753 second
inserted another chunk..., took 0.754 second
inserted another chunk..., took 0.724 second
inserted another chunk..., took 0.715 second
inserted another chunk..., took 0.750 second
inserted another chunk..., took 0.930 second
inserted another chunk..., took 0.717 second
inserted another chunk..., took 0.771 second
inserted another chunk..., took 0.713 second
inserted another chunk..., took 0.736 second
inserted another chunk..., took 0.702 second
inserted another chunk..., took 0.763 second
inserted another chunk..., took 0.721 second
inserted another chunk..., took 0.726 second
inserted another chunk..., took 0.983 second
inserted another chunk..., took 0.851 second
inserted another chunk..., took 0.721 second
inserted another chunk..., took 0.785 second
inserted another chunk..., took 0.732 second
inserted another chunk..., took 0.788 second
inserted another chunk..., took 0.771 second
inserted another chunk..., took 0.742 second
inserted another chunk..., took 0.733 second
inserted another chunk..., took 0.924 second
inserted another chunk..., took 0.824 second
inserted another chunk..., took 0.727 second
inserted another chunk..., took 0.741 second
inserted another chunk..., took 0.966 second
inserted another chunk..., took 0.825 second
inserted another chunk..., took 0.752 second
inserted another chunk..., took 0.790 second
inserted another chunk..., took 0.748 second
inserted another chunk..., took 0.984 second
inserted another chunk..., took 0.741 second
inserted another chunk..., took 0.738 second
inserted another chunk..., took 0.713 second
inserted another chunk..., took 0.705 second
inserted another chunk..., took 0.773 second
inserted another chunk..., took 0.738 second
inserted another chunk..., took 0.735 second
inserted another chunk..., took 0.721 second
inserted another chunk..., took 1.081 second
inserted another chunk..., took 0.712 second
inserted another chunk..., took 0.716 second
inserted another chunk..., took 0.709 second
inserted another chunk..., took 0.737 second
inserted another chunk..., took 0.700 second
inserted another chunk..., took 0.737 second
inserted another chunk..., took 0.713 second
inserted another chunk..., took 0.725 second
inserted another chunk..., took 0.706 second
inserted another chunk..., took 0.876 second
inserted another chunk..., took 0.722 second
inserted another chunk..., took 0.904 second
inserted another chunk..., took 0.704 second
inserted another chunk..., took 0.713 second
inserted another chunk..., took 0.766 second
inserted another chunk..., took 1.626 second
inserted another chunk..., took 1.732 second
inserted another chunk..., took 2.130 second
inserted another chunk..., took 1.821 second
inserted another chunk..., took 2.040 second
inserted another chunk..., took 1.886 second
inserted another chunk..., took 1.030 second
inserted another chunk..., took 0.930 second
inserted another chunk..., took 1.052 second
inserted another chunk..., took 1.021 second
inserted another chunk..., took 1.211 second
inserted another chunk..., took 0.805 second
inserted another chunk..., took 0.949 second
inserted another chunk..., took 0.700 second
inserted another chunk..., took 0.702 second
inserted another chunk..., took 0.698 second
inserted another chunk..., took 0.743 second
inserted another chunk..., took 0.728 second
inserted another chunk..., took 0.712 second
inserted another chunk..., took 0.697 second
inserted another chunk..., took 0.706 second
inserted another chunk..., took 1.007 second
inserted another chunk..., took 0.698 second
inserted another chunk..., took 0.697 second
inserted another chunk..., took 0.710 second
inserted another chunk..., took 0.680 second
inserted another chunk..., took 0.683 second
inserted another chunk..., took 0.710 second
inserted another chunk..., took 0.750 second
inserted another chunk..., took 0.819 second
inserted another chunk..., took 0.740 second
inserted another chunk..., took 0.708 second
inserted another chunk..., took 0.748 second
inserted another chunk..., took 0.718 second
inserted another chunk..., took 0.697 second
inserted another chunk..., took 0.760 second
inserted another chunk..., took 0.718 second
inserted another chunk..., took 0.772 second

StopIteration:

In [1]:
!wget http://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2023-01-22 15:41:31--  http://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.228.56, 52.217.33.94, 52.216.138.85, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.228.56|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12,03K  --.-KB/s    in 0,01s

2023-01-22 15:41:32 (851 KB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [4]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [5]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [19]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265